.main-div {
    max-width: 980px;
    width: 100%;
    margin: 30px auto 60px auto;
    .add-repo-title {
        font: 400 34px/40px Roboto,"Helvetica Neue",sans-serif;
        margin: 0;
    }
    .spinner {
        md-spinner{
            margin: 20% auto;
            width: 50px;
            height: 50px;
        }
    }
}

