<div  class="main-div">
    <md-grid-list cols="1" rowHeight="10:1">
        <md-grid-tile colspan="1"><h1 class="add-repo-title">Add repository to list</h1></md-grid-tile>
        <md-grid-tile colspan="1"><repo-input (onRepo)="onSubmit($event)"></repo-input></md-grid-tile>
    </md-grid-list>
    <md-tab-group (selectChange)="onSelectChange($event)">
        <md-tab label="Frontend JS frameworks">
            <md-list-item *ngFor="let repo of tempData">
                <git-card [repo]="repo" *ngIf="tempData.length;">
                </git-card>
            </md-list-item>
            <div class="spinner"><md-spinner *ngIf="!tempData.length;"></md-spinner></div>
        </md-tab>
        <md-tab label="Web app frameworks">
            <md-list-item *ngFor="let repo of tempData">
                <git-card [repo]="repo" *ngIf="tempData.length;">
                </git-card>
            </md-list-item>
            <div class="spinner"><md-spinner *ngIf="!tempData.length;"></md-spinner></div>
        </md-tab>
        <md-tab label="JS game engine">
            <md-list-item *ngFor="let repo of tempData">
                <git-card [repo]="repo" *ngIf="tempData.length;">
                </git-card>
            </md-list-item>
            <div class="spinner"><md-spinner *ngIf="!tempData.length;"></md-spinner></div>
        </md-tab>
        <md-tab label="Text editors">
            <md-list-item *ngFor="let repo of tempData">
                <git-card [repo]="repo" *ngIf="tempData.length;">
                </git-card>
            </md-list-item>
            <div class="spinner"><md-spinner *ngIf="!tempData.length;"></md-spinner></div>
        </md-tab>
    </md-tab-group>
</div>
