<div class="main-div">
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <md-form-field class="example-full-width">
                        <input mdInput placeholder="First name" [(ngModel)]="test.input" #input="ngModel">
                    </md-form-field>
                </td>
                <td>
                    <md-form-field class="example-full-width">
                        <input mdInput placeholder="Long Last Name ">
                    </md-form-field>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <button md-raised-button color="primary" (click)="klikFunkcija()">Primary</button>
                </td>
            </tr>
        </table>
    </form>
    <md-list-item *ngFor="let repo of dataArr">
        <div class="card-container">
            <md-card>
                <md-card-header>
                    <img md-card-avatar [src]="repo.owner.avatar_url">
                    <div class="custom-title">
                        {{ repo.name }}
                    </div>
                </md-card-header>
                
                <md-card-content>
                {{ repo.stargazers_count }}
                </md-card-content>
            </md-card>
        </div>
    </md-list-item>
</div>


