<div class="profile-main" *ngIf="dataLoaded && reposLoaded">
    <!-- <pre>{{ profileRepos | json }}</pre> -->
    <md-card class="profile-card">
        <img md-card-image [src]="profileData.avatar_url" alt="avatar" height="335px">
        <md-card-content>
            <md-card-title>{{ profileData.name }}</md-card-title>
            <md-card-subtitle><strong>Created at: </strong>{{ profileData.created_at | date }}</md-card-subtitle>
            <p>Public repos:  {{ profileData.public_repos }}</p>
        </md-card-content>
        <md-card-actions class="card-actions">
            <a md-button [href]="profileData.html_url">Visit Profile</a>
        </md-card-actions>
    </md-card>
    <div *ngFor="let item of profileRepos" class="mat-typography">
    <!-- <div *ngFor="let item of profileRepos | slice: paginationFrom(pageEvent) : paginationTo(pageEvent) " class="mat-typography"> -->
        <div *ngIf="!item.fork">
            <md-grid-list cols="4" rowHeight="2:1" class="repo-container">
                <md-grid-tile colspan="3">
                    <div class="repo-main">
                        <h4><a [href]="item.html_url">{{ item.name }}</a></h4>
                        <p>{{ item.description }}</p>
                    </div>
                </md-grid-tile>
                <md-grid-tile colspan="1">
                    <div class="repo-info">
                        <p><span class="repo-info-title">Updated: </span><span class="repo-info-content">{{ item.pushed_at | date }}</span></p>
                        <p><span class="repo-info-title">Language: </span><span class="repo-info-content">{{ item.language }}</span></p>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

</div>