<div>
    <md-toolbar color="primary" class="nav-primary">
        <h1>Github Stargazer</h1>
        <span class="example-spacer"></span>
        <md-menu class="main-navigation">
            <a md-button routerLink="">Frontend JS frameworks</a>
            <a md-button routerLink="">Web app frameworks</a>
            <a md-button routerLink="">JS game engines</a>
            <a md-button routerLink="">Programming languages</a>
            <a md-button routerLink="">Text editors</a>
        </md-menu>
    </md-toolbar>
</div>