<div  class="main-div">
    <form (ngSubmit)="onSubmit()" #repoForm="ngForm">
        <div class="example-full-width" cellspacing="0">
            <md-grid-list cols="5">
                    <md-grid-tile colspan="2" rowspan="1">
                        <md-form-field class="example-full-width">
                            <input mdInput placeholder="Username" 
                            required
                            name="user" [(ngModel)]="input.user" #user="ngModel">
                        </md-form-field>
                    </md-grid-tile>
                    <md-grid-tile colspan="2" rowspan="1">
                        <md-form-field class="example-full-width">
                            <input mdInput placeholder="Reponame"
                            required
                            name="repo" [(ngModel)]="input.repo" #repo="ngModel">
                        </md-form-field>
                    </md-grid-tile>
                    <md-grid-tile colspan="1" rowspan="1">
                            <button md-raised-button color="primary" type="submit" [disabled]="!repoForm.form.valid" (click)="onSubmit(); repoForm.reset()">Primary</button>
                    </md-grid-tile>
            </md-grid-list>
        </div>
    </form>
    <md-tab-group (selectChange)="onSelectChange($event)">
        <md-tab label="Frontend JS frameworks">
            <md-list-item *ngFor="let repo of tempData">
                <git-card [repo]="repo"></git-card>
            </md-list-item>
        </md-tab>
        <md-tab label="Web app frameworks">
                <md-list-item *ngFor="let repo of tempData">
                    <git-card [repo]="repo"></git-card>
                </md-list-item>
        </md-tab>
        <md-tab label="JS game engine">
            <md-list-item *ngFor="let repo of tempData">
                <git-card [repo]="repo"></git-card>     
            </md-list-item>
        </md-tab>
        <md-tab label="Text editors">
            <md-list-item *ngFor="let repo of tempData">
                <git-card [repo]="repo"></git-card>
            </md-list-item>
        </md-tab>
    </md-tab-group>
</div>