.nav-primary {
    /* background: #24292e; */
    box-shadow: 0 3px 16px 3px rgba(0, 0, 0, 0.33);
    .container {
        max-width: 1280px;
        margin: 0 auto;
        width: 100%;
        display: flex;
    }
}
.example-spacer {
    flex: 1 1 auto;
}
